{% extends 'myapp/base.html' %} {% block title %}Admin Dashboard{% endblock %} 
{% load crispy_forms_tags %} {% block content %}
<form method="post" enctype="multipart/form-data">
<h4> Label Form</h4>
  {% csrf_token %}{{label_form|crispy}}
  <button type="submit" class="btn btn-success">Post</button>
</form>
{% load crispy_forms_tags %}
<form method="post" enctype="multipart/form-data">
<h4> Image Form</h4>
  {% csrf_token %}{{image_form|crispy}}
  <button type="submit" class="btn btn-success">Post</button>
</form>

<form method="post" action="{% url 'admin_dashboard' %}">
    {% csrf_token %}
    {% for label in labels %}
        <label>
            <input type="checkbox" name="labels_to_delete" value="{{ label.id }}">
            {{ label.name }}
        </label>
    {% endfor %}
    <input type="submit" value="Delete Selected Labels">
</form>
{% endblock %}